// Colours
$bodyColour: #0f0a3c;
$headingColour: darken($bodyColour, 5%);
$linkColour: #e62a76;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #ebfffb;
$codeBackgroundColour: darken($backgroundColour, 5%);
