.coolmoves-join-us {
  font-size: 2em;
  font-weight: bold;
}
  
.coolmoves-cooled {
  text-decoration: line-through;
}

.coolmoves-trips {
  h5 {
    text-decoration: underline;
  }
}
  
h5 {
  text-decoration: underline;
}

.typeset p {
  line-height: 1.7rem !important;
}

.typeset ul {
  padding-top: 0.4rem !important;
}