.coolmoves-join-us {
  font-size: 2em;
  font-weight: bold;
}
  
.coolmoves-cooled {
  text-decoration: line-through;
}

.coolmoves-trips {
  h5 {
    text-decoration: underline;
  }
}
  
h5 {
  text-decoration: underline;
}
