---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--page  content  typeset coolmoves-post">

    <h1>{{ page.title }}</h1>

    {% for image in site.static_files %}
        {% assign filename = image.path %}
        {% assign extension = image.path | split:"." | last | downcase %}
        {% if filename contains page.dir and extension == "jpg" or extension == "png" %}
            <a href="{{ site.baseurl }}{{ image.path }}"><img src="{{ site.baseurl }}{{ image.path }}" alt="image" /></a>
        {% endif %}
    {% endfor %}

    {{ content }}

  </article>

</main>

{% include site-footer.html %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d241ab7c2641114"></script>