---
layout: default
---

{% include site-header.html %}

<main class="main  container">

    <div class="content">
        <article class="article  article--page  content  typeset">
        
        <div style="text-align: center; margin-top: 1em;">
            <img src="/coolmoves/logo.jpg" alt="Camp Coolmoves" />

            <p>We are Camp Coolmoves ⛺❄️. We do camp adventures with fun times. And so can you.</p>

            <p>Do you enjoy fun times, yum times, and sun times? We do too! Come to Camp Coolmoves and join in all the good times of adventure with Ali, Bibo, and Ivan.</p>

            <p class="coolmoves-join-us">
                <a href="{{site.coolmoves_list_url}} " target="_new">Join us now!</a>
            </p>
        </div>
        
        <hr/>

        <div>
        {{ content }}        
        </div>
        
        <hr/>
        
        <div style="text-align: center;">
            <p class="coolmoves-join-us">
                <a href="{{site.coolmoves_list_url}}" target="_new">Join us now!</a>
            </p>
        </div>
        
        </article>
      </div>

</main>

{% include site-footer.html %}