<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.collectionpage %}
			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% endif %}

		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="{{ site.description }}" />

		{% if page.title %}
			<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
		{% endif %}
		{% if page.image %}
		  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
		
		{% if site.favicon %}
			<link rel="shortcut icon" href="{{ site.favicon }}">
		{% else %}
			<link rel="shortcut icon" href="{{ site.logo }}">
		{% endif %}
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9879562-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-9879562-3');
		</script>
	</head>
	<body>

		{{ content }}

		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700" rel="stylesheet">
	</body>
</html>
